<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">당신이 만족할 때까지 우리는 최선을 다할꺼예요.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>February 2021</h4>
                                    <h4 class="subheading">All New MELCHI</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">이제 동영상 제작을 위한 대기시간은 더이상 없다! 그 동안은 영상 제작을 위해서 멸치 서버의 도움이 필요했는데요. 이제는 핸드폰에서 바로바로 다양한 템플릿을 통한 영상을 만들수가 있어요! 여러분의 시간은 소중하니까요! </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2019</h4>
                                    <h4 class="subheading">The MELCHI</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">멸치TV를 사랑해주셔서 감사해요! 멸치TV를 사랑해주신 고객님들의 성원에 더 멋진 서비스로 보답하고자 새롭게 리뉴얼을 했어요! 앞으로도 성원에 보답하고자 항상 노력할꺼예요!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                    <h4>December 2015</h4>
                                <div class="timeline-heading">
                                    <h4 class="subheading">MELCHI LETTER</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">영상편지는 다양한 장르로 구분되어 있고, 간단한 사진과 텍스트 입력 만으로 영상 편지를 제작할 수 있어요! 그동안의 복잡했던 동영상 제작은 이제 ByeBye!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2014</h4>
                                    <h4 class="subheading">MELCHI TV</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">안녕하세요! 신개념 리워드 서비스 멸치TV가 오픈하였습니다. 멸치TV-영상보고 포인트적립! 쇼핑까지 한번에! 시간은 금이고 자투리 시간엔 "멸치"라구요. 하루 중에 남오도는 시간을 모아모아! 엔초비 포인트를 적립해 보세요. 엔초비 포인트를 모았다면 멸치 쇼핑에서 다양하고 색다른 쇼핑을 즐기세요!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>우리들의
                                    <br>이야기는
                                    <br>계속되요!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>