<!-- lients Aside -->
<aside class="clients">
	<div class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Download</h2>
					<h3 class="section-subheading text-muted">무료로 다운로드 받아 사용해보세요!</h3>
				</div>
			</div>
			<div class="align-self-center align-bottom">
			<!--
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
				<div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/melchi_logo.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
				<div class="col-md-3 col-sm-6">
					<a href="http://www.smelchi.com/company/divide.html">
						<img src="img/logos/melchi.png" class="img-responsive img-centered" alt="">
					</a>
				</div>
				<div class="col-md-3 col-sm-6">
					<a href="http://smelchi.com">
						<img src="img/logos/smelchi_logo.png" class="img-responsive img-centered" alt="">
					</a>
				</div>
				<div class="col-md-3 col-sm-6">
					<a href="http://mel-chi.com">
						<img src="img/brand_1.gif" class="img-centered" alt="">
					</a>
				</div>
				-->
				<div class="col-md-3 col-sm-6">
				</div>
				<div class="col-md-3 col-sm-6" style="">
					<a href="https://apps.apple.com/kr/app/myeolchitv-jatulisigan-hwal/id892807571">
						<img src="img/logos/appstore_logo.png" class="img-responsive img-centered" alt="">
					</a>
				</div>
				<div class="col-md-3 col-sm-6">
					<a href="https://play.google.com/store/apps/details?id=com.richbeam.melchi.tv">
						<img src="img/logos/googleplay_logo.png" class="img-responsive img-centered" alt="">
					</a>
				</div>
				<div class="col-md-3 col-sm-6">
				</div>
			</div>
		</div>
	</div>
</aside>