  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
					<!--
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
					-->
					</div>
                <div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li>
								<a href="http://www.smelchi.com/company/cominfo.html">Company Info.</a>
							</li>
							<li>
								<!--<a href="http://mel-chi.com/help/privacy_policy?previous=1">Privacy Policy</a>-->
								<a href="https://d3igffbwpked4.cloudfront.net/static/privacy_policy">Privacy Policy.</a>
							</li>
							<li>
								<!--<a href="http://mel-chi.com/help/agreement">Terms of Use</a>-->
								<a href="https://d3igffbwpked4.cloudfront.net/static/agreements">Terms of Use.</a>
							</li>
						</ul>
					</div>
            </div>
        </div>
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>

		<!-- TODO: Add SDKs for Firebase products that you want to use
			 https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>

		<script>
		  // Your web app's Firebase configuration
		  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
		  var firebaseConfig = {
			apiKey: "AIzaSyB4kyDyqRss-TDrneheZbXgO-rsdLLuRx4",
			authDomain: "melchi-homepage.firebaseapp.com",
			projectId: "melchi-homepage",
			storageBucket: "melchi-homepage.appspot.com",
			messagingSenderId: "818467087083",
			appId: "1:818467087083:web:f69d0039d7d926d93fd4ae",
			measurementId: "G-CMBM99EFF7"
		  };
		  // Initialize Firebase
		  firebase.initializeApp(firebaseConfig);
		  firebase.analytics();
		</script>
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<!--
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52657360-13"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-52657360-13');
		</script>
		-->
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-PEGPVV83YS"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-PEGPVV83YS');
		</script>
    </footer>
