<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">세상에서 가장 아름다운 스케치를 당신에게!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-bag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ALL FREE</h4>
                    <p class="text-muted">첫마음 끝까지, 무제한 무료이용. 첫 마음을 끝까지 간직하겠습니다. 마음껏 이용하세요!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-movie-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Variety Design Templates</h4>
                    <p class="text-muted">다양한 영상템플릿. 직접 제작한 40,000여개 템플릿 중 엄선하여 이벤트와 시즌별 순환 업로드 제공!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-step-forward fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easy, Simple, Just ONE</h4>
                    <p class="text-muted">쉽고 빠른 영상제작. 마음에 드는 영상 디자인을 선택하고, 사진 또는 영상, 글만 입력해주면 완성!</p>
                </div>
            </div>
        </div>
    </section>